.loading {
  cursor: wait;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading > .loading-spinner {
  height: 60px;
  width: 60px;

  border-radius: 500px;
  animation: spinAround 500ms infinite linear;
  border-top: 2px solid rgba(200, 200, 200, 0.8);
  border-left: 2px solid rgba(200, 200, 200, 0.8);
}
